<div class="container mt-3">
  <div>
    <div class="alert alert-info" role="alert" *ngFor="let c of entriesList$ | async">
      <div class="d-flex flex-wrap flex-xl-nowrap flex-lg-nowrap flex-md-nowrap">
        <div class="p-2">
          <h5 class="alert-heading"><a href="{{ c.fields.url }}" target="_blank">{{ c.fields.companyName }}</a></h5>
          <p><i>{{ c.fields.cdvNumber }}</i></p>
        </div>
      </div>
    </div>
    <button (click)="goToList()" class="btn btn-danger">Back To List</button>
  </div>
</div>
